.home {
    display: block;
}

.person-home > img {
    width:280px;
}

.content-home {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-home {
    font-size: 1.2rem;
    color: #fff;
    width: 50%;
}

.button_home {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.btn-home {
    background-color: #52da2d;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
    box-shadow: #000 2px 2px 5px;
    cursor: pointer;
    transition: .5s;
}

.btn-home:hover {
    background-color: #42ad24;
    padding: .9rem;
}