.tela_de_cadastro {
    margin: 0 auto;
    display: none;
    background-color: #fff;
    width: 90%;
    border-radius: 15px;
    padding: 1rem;
}
.btn-enviar-form {
    display: block;
    background-color: #52da2d;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
    box-shadow: #000 2px 2px 5px;
    cursor: pointer;
    transition: .5s;
}
.span {
    display: flex;
    justify-content: center;
    margin-top: .5rem;
}
.span_required {
    display: none;
    background-color: red;
    color: #fff;
    padding: .5rem 4rem;
    border-radius: 1rem;
    margin-top: 1rem auto;
    text-align: center;
}

.btn-enviar-form:hover {
    background-color: #42ad24;
    padding: .9rem;
}
.content_cadastral_user {
    margin-top: .5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.inputs {
  border: none;
  padding: .6rem;
  background-color:  #a09e9e;
  margin-right: 5px;
  height: 60px;
  width: 100%;
  color: #fff;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
}
.inputs::placeholder {
    color: #000;
}